<button mat-icon-button (click)="drawerToggle()" class="settings">
    <mat-icon>settings</mat-icon>
</button>

<div class="drawer" #drawer [@slideInOut]="showDrawer">
    <div class="title">自定义样式设置</div>

    <div class="content">
        <div class="sub_title">推荐主题色</div>
        <ul class="primary-color">
            <li 
                *ngFor="let item of COLOR" 
                [ngStyle]="{'background': item}" 
                (click)="primaryColor(item)"
                [class.colorActive]="item === CONFIG.primary"
            ></li>
        </ul>

        <div class="sub_title">字体颜色</div>
        <ul class="btns">
            <li>
                <div *ngFor="let item of TXCOLORS">
                    <span>{{item.name}}:</span><input type="text" [(ngModel)]="CONFIG[item.prop]">
                </div>
            </li>
        </ul>

        <div class="sub_title MT17">内容间距</div>
        <ul class="btns">
            <li>
                <div *ngFor="let item of SPACE">
                    <span>{{item.name}}:</span><input type="text" [(ngModel)]="CONFIG[item.prop]">
                </div>
            </li>
        </ul>

        <div class="sub_title MT17">按钮</div>
        <ul class="btns">
            <li *ngFor="let item of BTNS">
                <h4>{{item.type}}:</h4>
                <div *ngFor="let child of item.props">
                    <span>{{child.name}}:</span><input type="text" [(ngModel)]="CONFIG[child.prop]">
                </div>
            </li>
        </ul>

        <div class="sub_title MT17">菜单</div>
        <ul class="btns">
            <li>
                <div *ngFor="let item of MENUS">
                    <span>{{item.name}}:</span><input type="text" [(ngModel)]="CONFIG[item.prop]">
                </div>
            </li>
        </ul>

        <div class="sub_title MT17">提示信息</div>
        <ul class="btns">
            <li>
                <div *ngFor="let item of MENUS">
                    <span>{{item.name}}:</span><input type="text" [(ngModel)]="CONFIG[item.prop]">
                </div>
            </li>
        </ul>
    </div>

    <div class="actions">
        <oms-actions
            [btns]="ACTIONS"
            (actionsCb)="actionsCb($event)"
        ></oms-actions>
    </div>
</div>


