

:host ::ng-deep {
    .mat-dialog-content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px;
        padding: 0;
        margin: 0;
    }
    
    .action{
        display: flex;
        justify-content: flex-end;
        padding: 10px 0 15px 0;

        .mat-raised-button{
            color: rgba(0, 0, 0, 0.65);
            box-shadow: none;
            background-color: #fff;
            line-height: 34px;
            border: 1px solid #d9d9d9;
            padding: 0 14px;
            margin-left: 15px;
            display: block;
            overflow: hidden;
            transition: ease-in;
            &:hover, &:active{
                box-shadow: none !important;
                color: #0cb495;
                border: 1px solid #0cb495;
            }
        }
    
        .mat-primary{
            color: #fff;
            border: none;
            background-color: #0cb495;
            &:hover{
                color: #fff;
                border: none;
            }
        }
    }

    .confirm-content{
        padding: 0 20px; 
        box-sizing: border-box;
        line-height: 24px;
        .mat-icon{
            line-height: 26px; 
            display: block; 
            font-size: 28px;
            padding-right: 20px; 
            color: #e74d4d;
        }
    }

    
    
}