@import 'src/scss/theme.scss';
@import 'src/scss/mixin.scss';

:host ::ng-deep{
    .mat-form-field {
        width: 100%;
        &.mat-focused .mat-form-field-label{
            color: #666;
        }
    }

    .mat-form-field-appearance-outline{
        .mat-form-field-wrapper{
            margin: 0;
            padding-bottom: 0.26rem;
            .mat-form-field-flex{
                padding: 0 0.05rem 0 0.15rem;
                margin-top: 0;
                height: $formH;
            }
    
            .mat-form-field-outline{
                height: $formH;
            }
    
            .mat-form-field-infix{
                padding: 0.05rem 0;
                line-height: 0.24rem;
                border-top: 0.05rem;
            }
    
            .mat-form-field-label{
                color: #999;
                top: 0.19rem;
                margin-top: -0.05rem;
            }
    
            .mat-form-field-label-wrapper{
                top: -0.08rem;
                padding-top: 0.08rem;
            }
        }

        .mat-form-field-outline-thick{
            .mat-form-field-outline-start,
            .mat-form-field-outline-end,
            .mat-form-field-outline-gap{
                border-width: 0.01rem;
            }
        }

        &.mat-focused,&:hover,&:active,&:focus{
            .mat-form-field-outline-thick{
                color: $primary;
            }
        }

        .mat-form-field-outline{
            top: 0;
        }
    }

    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
        transform: translateY(-0.16rem) scale(0.9);
        color: rgba(0, 0, 0, 0.5);

        mat-label{
            padding-right: 0.06rem;
            background: #fff;
        }
    }

    .mat-form-field-suffix{
        top: 0.03rem !important;
    }

    .input-icon{
        .mat-icon{
            position: relative;
            top: 0.02rem;
            line-height: 0.2rem;
            height: 0.2rem;
            text-align: center;
        }
    }

    .ng-invalid-form{
        .mat-form-field-outline-start, 
        .mat-form-field-outline-end,
        .mat-form-field-outline-gap{
            border-color: red;
        }
    }

    .mat-form-field-required-marker{
        color: red;
        line-height: 0.16rem;
        @include fs(16);
    }
}