.oms-tree-invisible {
    display: none;
}

.oms-tree ul,
.oms-tree li {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	list-style-type: none;
}

.oms-tree{
	padding:0;
	.mat-icon-button{
		margin-top: 0 !important;
		width: 28px !important;
	}
	button{
		padding: 0 !important;
		line-height: 28px;
		height: 28px;
		text-align: left;
		vertical-align: middle;
	}
	li{
		line-height: 28px;
		display: block;
		padding-left: 24px;
	}
	.mat-tree-node{
		min-height: 28px;
		.mat-icon{
			width: 24px;
			height: auto !important;
			vertical-align: middle;
			color: #666;
			float: right;
			cursor: pointer;
			margin-left: 6px;
            line-height: 30px;
            font-size: 18px;
		}
	}

	.mat-tree-node-nochild {
		border-bottom: 1px solid #f2f2f2;
	}
}

.mat-button-wrapper{
	float: left !important;
}

.mat-tree-node{
	display: block;
	white-space: nowrap;
	button{
		display: inline-block;
	}
}

:host ::ng-deep{
	.highSelect{
        background: red;
        border-radius: 0;
	}
	
	.activeing:active{
		opacity: 0.7;
	}

	.highSelect{
		button{
			span{
                color: red;
			}
			.mat-icon{
                color: red;
			}
		}
	}

	.mat-checkbox-inner-container{
		height: 14px;
		width: 14px;
	}

	.mat-icon-button{
		border-radius: 50%;
	}

	.example-tree button{
        font-size: 13px;
    }
    
    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background{
        background-color: #0cb495;
    }
}