.oms-tree-invisible {
    display: none;
}

.oms-tree ul,
.oms-tree li {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	list-style-type: none;
}

.oms-tree{
    padding:0;
    ul{
        background: url('../../../../../assets/images/tree/line.png') 2px 0 repeat-y;
        mat-tree-node:last-of-type{
            .bgBtn{
                background-position: -82px -39px;
            }
        }
    }
    .bgBtn{
        background: url('../../../../../assets/images/tree/treeBg.png');
        background-position: -82px -19px;
    }
	.mat-icon-button{
		margin-top: 0 !important;
		width: 28px;
	}
	button{
		padding: 0 !important;
		line-height: 28px;
		height: 28px;
		text-align: left;
		vertical-align: middle;
	}
	li{
		line-height: 28px;
		display: block;
		padding-left: 24px;
	}
	.mat-tree-node{
		min-height: 28px;
		.mat-icon{
			width: 24px;
			height: auto !important;
			vertical-align: middle;
			color: #666;
			float: right;
			cursor: pointer;
			margin-left: 6px;
            line-height: 30px;
            font-size: 18px;
		}
	}

	.mat-tree-node-nochild {
		border-bottom: 1px solid #f2f2f2;
	}
}

.mat-button-wrapper{
	float: left !important;
}

.mat-tree-node{
	display: block;
	white-space: nowrap;
	button{
		display: inline-block;
	}
}

.search{
	width: calc(100% - 30px);
	margin-left: 30px;
	margin-bottom: 25px;
	input{
		height: 37px;
		border: 1px solid #ccc;
		width: calc(100% - 90px);
		line-height: 37px;
		padding: 0 15px;
		color: #666;
		font-size: 15px;
		transition: 0.5s;
		border-radius: 0;
		&:hover,&:focus{
			border: 1px solid #0cb495;
			box-shadow: 2px 2px 2px rgba(0,0,0,0.05);
		}
	}
	input::-webkit-input-placeholder{
		color:#AFAFAF;
	}
	input::-moz-placeholder{
		color:#AFAFAF;
	}
	input:-moz-placeholder{
		color:#AFAFAF;
	}
	input:-ms-input-placeholder{
		color:#AFAFAF;
	}
}

.filter{
	display: block;
	float: right;
	button{
		margin-left: 0 !important;
		width: 90px;
		border-radius: 0;
        height: 37px;
        color: #fff;
        box-shadow: none;
        background-color: #0cb495;
        border: 1px solid #d9d9d9;
        padding: 0 14px;
        display: block;
        transition: ease-in;
        border: 1px solid #0cb495;
        transform: none;
        &:hover, &:active{
            box-shadow: none !important;
            
        }
    }
}

:host ::ng-deep{
	.highSelect{
        background: #0cb495;
        border-radius: 0;
	}
	
	.activeing:active{
		opacity: 0.7;
	}

	.highSelect{
		button{
			span{
                color: #fff;
			}
			.mat-icon{
                color: #fff !important;
			}
		}
	}

	.mat-checkbox-inner-container{
		height: 14px;
		width: 14px;
	}

	.mat-icon-button{
		border-radius: 50%;
	}

	.example-tree button{
        font-size: 13px;
    }
    
    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background{
        background-color: #0cb495;
    }
}