<!-- <div [elResize]='true' dialogDrag class="example-box" [ngClass]="isFullScreen ? 'fullScreen': ''" cdkDragBoundary=".example-boundary" cdkDrag style="position:relative"> -->
    <!-- <div class="box" style="width:200px;height:200px;top:200px;left:600px;">
        <div class="left-border" id="left" style="left:0;top:0;"></div>
        <div class="top-border" id="top" style="left:0;top:0;"></div>
        <div class="right-border" id="right" style="right:0;top:0;"></div>
        <div class="bottom-border" id="bottom" style="left:0;bottom:0;"></div> -->

        <!-- <div class="content"> -->
            <!-- <ng-container *ngIf="showTitle">
                <div class="example-handle" cdkDragHandle>
                    <h2 mat-dialog-title>{{ title | translate }}</h2>
                </div>
            
                <button color="primary" mat-icon-button [mat-dialog-close]="false" class="close-icon">
                    <mat-icon>close</mat-icon>
                </button>
            </ng-container> -->
        
            <!-- 全屏 -->
            <!-- <ng-container *ngIf="showFullScreen">
                <at-full-screen (backFun)="setFullScreen($event)"></at-full-screen>
            </ng-container> -->

            <!-- 传入的内容 -->
            <!-- <div class="content-wrap flex">
                <ng-content></ng-content>
            </div> -->


        <!-- </div> -->

    <!-- </div> -->
<!-- </div> -->
<!-- <div dialogDrag class="example-box" [ngClass]="isFullScreen ? 'fullScreen': ''" cdkDragBoundary=".example-boundary" cdkDrag style="position:relative; transform: translate3d(0,0,0);"> -->
    <!-- 拖拽 -->
    <!-- <div [elResize]='true' class="drag-box">
        <div class="left-border" id="left" style="left:-6px;top:-6px;"></div>
        <div class="top-border" id="top" style="left:-6px;top:-6px;"></div>
        <div class="right-border" id="right" style="right:6px;top:-6px;"></div>
        <div class="bottom-border" id="bottom" style="left:-6px;bottom:6px;"></div>
    </div> -->
    
    <!-- <ng-container *ngIf="showTitle">
        <div class="example-handle" cdkDragHandle>
            <h2 mat-dialog-title>{{ title | translate }}</h2>
        </div>
    
        <button color="primary" mat-icon-button [mat-dialog-close]="false" class="close-icon">
            <mat-icon>close</mat-icon>
        </button>
    </ng-container> -->

    <!-- 全屏 -->
    <!-- <ng-container *ngIf="showFullScreen">
        <at-full-screen (backFun)="setFullScreen($event)"></at-full-screen>
    </ng-container> -->

    <!-- 传入的内容 -->
    <!-- <div class="content-wrap flex">
        <ng-content></ng-content>
    </div> -->
<!-- </div> -->


<!-- <div style="width: 100%; height: 100%;position: static;border: 1px solid red;display: block;"> -->
    <div [elResize]='true' class="box" dialogDrag  [ngClass]="isFullScreen ? 'fullScreen': ''" cdkDragBoundary=".example-boundary" cdkDrag style="position: relative;">
        <ng-container *ngIf="showTitle">
            <div class="example-handle" cdkDragHandle>
                <h2 mat-dialog-title>{{ title | translate }}</h2>
            </div>
        
            <button color="primary" mat-icon-button [mat-dialog-close]="false" class="close-icon">
                <mat-icon>close</mat-icon>
            </button>
        </ng-container>

        <ng-container *ngIf="showFullScreen">
            <at-full-screen (backFun)="setFullScreen($event)"></at-full-screen>
        </ng-container>

        <div class="content-wrap flex">
            <ng-content></ng-content>
        </div>
        
        <div class="left-border" id="left" style="left:0;top:0;"></div>
        <div class="top-border" id="top" style="left:0;top:0;"></div>
        <div class="right-border" id="right" style="right:0;top:0;"></div>
        <div class="bottom-border" id="bottom" style="left:0;bottom:0;"></div>
    </div>

