<div dialogDrag class="example-box" [ngClass]="isFullScreen ? 'fullScreen': ''" cdkDragBoundary=".example-boundary" cdkDrag style="position:relative">
    <ng-container *ngIf="showTitle">
        <div class="example-handle" cdkDragHandle>
            <h2 mat-dialog-title>{{ title | translate }}</h2>
        </div>
    
        <button color="primary" mat-icon-button [mat-dialog-close]="false" class="close-icon">
            <mat-icon>close</mat-icon>
        </button>
    </ng-container>

    <!-- 全屏 -->
    <ng-container *ngIf="showFullScreen">
        <at-full-screen (backFun)="setFullScreen($event)"></at-full-screen>
    </ng-container>
    
    <!-- 传入的内容 -->
    <div class="content-wrap">
        <ng-content></ng-content>
    </div>
</div>