@import '../../../../../scss/theme.scss';

.header{
    border-bottom: 1px dashed #ccc;
    margin-bottom: 20px;
}

.search {
    width: 60%;
    .item{
        width: 30%;
        display: block;
        float: left;
        margin-right: 40px;
    }
    .item-toggle{
        width: auto;
        margin-right: 0;
    }
}

:host ::ng-deep{
    .mat-button-toggle-label-content{
        line-height: 32px !important;
    }

    .mat-button-toggle-checked{
        background-color: $primary;
        color: #fff;
    }
}

