<div class="flex">
    <div class="header">
        <div class="search">
            <div class="item">
                <oms-select
                    [value]="searchData.year"
                    (selectV)="vChange($event)"
                    [formCtrlName]="'year'"
                    [label]="'年'"
                    [options]="years"
                ></oms-select>
            </div>
    
            <div class="item" *ngIf="toggle === 'month'">
                <oms-select
                    [value]="searchData.month"
                    (selectV)="vChange($event)"
                    [formCtrlName]="'month'"
                    [label]="'月'"
                    [options]="months"
                ></oms-select>
            </div>
    
            <div class="item item-toggle">
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" (change)="togglePeriod($event)">
                    <mat-button-toggle [checked]="toggle === 'year'" value="year">年</mat-button-toggle>
                    <mat-button-toggle [checked]="toggle === 'month'" value="month">月</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>

        <div class="legend"></div>
    </div>
    
    <ng-container *ngIf="toggle === 'year'">
        <full-calendar></full-calendar>
    </ng-container>
    
    <ng-container *ngIf="toggle === 'month'">
        <single-calendar></single-calendar>
    </ng-container>
    
</div>

