<div class="toolbar-user-container">

    <button mat-button [matMenuTriggerFor]="menu" class="toolbar-user-btn">
        <span fxLayout="row" fxLayoutAlign="start center">
            <img class="avatar" [src]="topUrl">
            <span class="name" fxHide fxShow.gt-sm>{{currentUser}}</span>
            <mat-icon class="icon" fxHide fxShow.gt-sm>keyboard_arrow_down</mat-icon>
        </span>
    </button>

    <mat-menu #menu="matMenu" class="user-toolbar-menu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>退出</span>
        </button>
    </mat-menu>
</div>
