<div class="not-find">
    <!-- <img id="notFind" [src]="url"> -->
    <div class="text-info">
        <p>
            <span class="err404">404</span>
            <span class="errInfo">您访问的页面失联了！</span>
        </p>
        <p class="text textFirst">没找到您要访问的页面原因如下：</p>
        <p class="text">1.网速过慢，或者网络中断；</p>
        <p class="text">2.页面已删除；</p>
        <p class="text">3.这个页面太受欢迎了，太多人访问。</p>
        <p class="text textLast">您可以：
            <a (click)="backHistory()">返回上一页</a>
            <a (click)="backHome()">返回登录</a>
        </p>
    </div>
</div>