$primary-color: #0cb495;

.btns{
    display: flex;
    align-items: center;
    div{
        margin-right: 15px;
    }
}

:host ::ng-deep{
    .mat-raised-button{
        color: rgba(0, 0, 0, 0.65);
        box-shadow: none;
        background-color: #f4f4f4;
        line-height: 34px;
        border: 1px solid #d9d9d9;
        padding: 0 14px;
        display: block;
        overflow: hidden;
        &:active{
            box-shadow: none !important;
        }
    }

    .mat-primary{
        color: #fff;
        border: none;
        background-color: $primary-color;
    }

    .more {
        cursor: pointer;
    }
}