$primary-color: #0cb495;

.btns{
    display: flex;
    align-items: center;
    div{
        margin-right: 15px;
        .btn{
            display: inline-block;
            transform: none;
        }
    }
}

:host ::ng-deep{
    .mat-raised-button{
        color: rgba(0, 0, 0, 0.65);
        box-shadow: none;
        background-color: #f4f4f4;
        line-height: 34px;
        border: 1px solid #d9d9d9;
        padding: 0 14px;
        display: block;
        transition: ease-in;
        &:hover, &:active{
            box-shadow: none !important;
            color: #0cb495;
            border: 1px solid #0cb495;
        }
    }

    .mat-primary{
        color: #fff;
        border: none;
        background-color: $primary-color;
        &:hover{
            color: #fff;
            border: none;
        }
    }

    .mat-warn{
        background-color: #fff;
    }

    .more {
        cursor: pointer;
    }

    .mat-dialog-actions{
        margin-bottom: 0;
        min-height: 34px;
        padding: 0;
        display: block;
    }

    .btn-outer{
        margin-left: 15px;
        display: inline-block;
    }
}