@import '../../../../../../scss/theme.scss';

.btns{
    display: flex;
    align-items: center;
    div{
        margin-right: 0.15rem;
        .btn{
            display: inline-block;
            transform: none;
        }
    }
}

:host ::ng-deep{
    .mat-raised-button{
        color: $restFontColor;
        box-shadow: none;
        background-color: $restBg;
        line-height: $restFontHeight;
        border: $restFontBorder;
        padding: 0 0.14rem;
        display: block;
        transition: ease-in;
        transform: none;
        &:hover, &:active{
            box-shadow: none !important;
            color: $primary;
            border: $primaryFontBorder;
        }
    }

    .mat-primary{
        color: $primaryFontColor;
        border: none;
        background-color: $primaryBg;
        &:hover, &:active{
            color: $primaryHoverColor;
            border: $primaryHoverBorder;
        }
    }

    .mat-warn{
        background-color: $closeBg;
    }

    .more {
        cursor: pointer;
    }

    .mat-dialog-actions{
        margin-bottom: 0;
        min-height: $formH;
        padding: 0;
        display: block;
    }

    .btn-outer{
        margin-left: 0.15rem;
        display: inline-block;
    }
}