@import '../../../scss/theme.scss';

$height__main-toolbar: 36px;

.main-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - #{$height__main-toolbar});
    position: relative;
    padding: 24px;
    background-color: #fff;
}

.sidenav{
    width: 264px;
	max-width: 264px;
	overflow-x: hidden;
	z-index: 4;
    border-right: none;
}

.sidenav-container {
	height: 100%
}

:host {
    .mat-sidenav-container{
        height: 100%;
    } 
}


.setting-drawer__handle {
    position: fixed;
    top: 70%;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    font-size: 16px;
    text-align: center;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    background: $primary;
    transition: right 0.3s cubic-bezier(0.9, 0, 0.3, 0.7);
    pointer-events: auto;
    mat-icon {
      color: #fff;
      font-size: 20px;
    }
}
