
// 样式初使化
html {
    -webkit-text-size-adjust: none;
}
a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,
em,fieldset,font,form,h1,h2,h3,h4,h5,h6,header,html,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,input,
section,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul,
var {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
header,section,footer{display: block;}

html,
body {
    min-height: 100%;
    height: 100%;
    line-height: normal;
    font-family: microsoft YaHei, Roboto, 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    box-sizing: border-box;
    font-size: 12px;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: ""
}
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="button"],
select,
button {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: none;
}
input[type=text],
input[type=file],
input[type=password],
input[type=email], select {
    vertical-align: middle;
    border-radius: 3px;
    outline:none;
    &:focus,&:hover{
        box-shadow: none;
        // border: 1px solid #1cc09f;
    }
}
select::-ms-expand { display: none; }
*:focus {outline: none;}
input::-ms-clear{display:none;}
input::-ms-reveal{display:none;}
::-webkit-input-placeholder { color:#999; }
::-moz-placeholder { color:#999; }
:-ms-input-placeholder { color:#999; }
:-moz-placeholder { color:#999; }


p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
i {
font-family: arial, Helvetica, sans-serif;
font-style: normal
}
a {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
a:hover { text-decoration: none; }
a:visited { text-decoration: none; }
a:link { text-decoration: none; }
a:focus { outline: 0; }
a.hover { color: #666; }

.left{float:left;}
.right{float:right;}

.clearfix:after,
.clearfix:before { content: " "; display: table;}
.clearfix:after { clear: both;}
.clearfix { *zoom: 1 }

.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.textover {width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}

.block{ display: block;}
.inblock{ display: inline-block;}

//字体
.F12 {font-size: 12px;}
.F14 {font-size: 14px;}
.F16 {font-size: 16px;}
.F18 {font-size: 18px;}
.F20 {font-size: 20px;}
.F22 {font-size: 22px;}
.F24 {font-size: 24px;}
.F26 {font-size: 26px;}
.F28 {font-size: 28px;}
.F30 {font-size: 30px;}
.F32 {font-size: 32px;}
.F36 {font-size: 36px;}

// 外边距
.M0 {margin: 0px!important;}
.M5 {margin: 5px;}
.M10 {margin: 10px;}
.M15 {margin: 15px;}
.M20 {margin: 20px;}

.MT0 {margin-top: 0px!important;}
.MT5 {margin-top: 5px;}
.MT10 {margin-top: 10px;}
.MT15 {margin-top: 15px;}
.MT20 {margin-top: 20px;}

.MR5 {margin-right: 5px;}
.MR10 {margin-right: 10px;}
.MR15 {margin-right: 15px;}
.MR20 {margin-right: 20px;}

.MB0 {margin-bottom: 0px;}
.MB5 {margin-bottom: 5px;}
.MB10 {margin-bottom: 10px;}
.MB15 {margin-bottom: 15px;}
.MB20 {margin-bottom: 20px;}

.ML0 {margin-left: 0!important;}
.ML5 {margin-left: 5px;}
.ML10 {margin-left: 10px;}
.ML15 {margin-left: 15px;}
.ML20 {margin-left: 20px;}
.ML30 {margin-left: 30px;}

.MTB5 {margin-top: 5px; margin-bottom: 5px}
.MTB10 {margin-top: 10px; margin-bottom: 10px}

// 内边距
.P0 {padding: 0 !important;}
.P5 {padding: 5px;}
.P10 {padding: 10px;}
.P15 {padding: 15px;}
.P20 {padding: 20px;}

.PT0 {padding-top: 0px !important;}
.PT5 {padding-top: 5px;}
.PT10 {padding-top: 10px;}
.PT15 {padding-top: 15px;}
.PT20 {padding-top: 20px;}
.PT40 {padding-top: 40px;}

.PR5 {padding-right: 5px;}
.PR10 {padding-right: 10px;}
.PR15 {padding-right: 15px;}
.PR20 {padding-right: 20px;}

.PL5 {padding-left: 5px;}
.PL10 {padding-left: 10px;}
.PL15 {padding-left: 15px;}
.PL20 {padding-left: 20px;}

.PB0 {padding-bottom: 0px;}
.PB5 {padding-bottom: 5px;}
.PB10 {padding-bottom: 10px;}
.PB15 {padding-bottom: 15px;}
.PB20 {padding-bottom: 20px;}

.PLR5 {padding-left: 5px;padding-right: 5px}
.PLR10 {padding-left: 10px;padding-right: 10px}
.PTB5 {padding-top: 5px;padding-bottom: 5px;}
.PTB10 {padding-top: 10px;padding-bottom: 10px;}

// 颜色
.C3 {color:#333;}
.C6 {color:#666;}
.C8 {color: #888;}
.C9 {color:#999;}
.Cf {color:#fff;}
.Cf33 {color: #333f4c;}
.Cff1 {color: #ff1345;}
.C85 {color: #858585;}
.C19 {color: #19bfa8;}
.C00 {color: #00c094;}
  
// 分割线
hr.hr1 {
    height: 1px;
    border: none;
    display: inline-block;
    width: 100%;
    background-color: #000;
    margin: 0;
}

// 错误信息
.error-info{
    color: red;
    top: 34px;
    position: absolute;
}
